@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rock+Salt&display=swap');
img{
    float: left;
    width: 100px;
    background-color: none;
    margin-bottom: 50px;
}
nav a { 
text-align: center;
background-color: ;
margin-left: 250px;
text-decoration: wavy;
color: rgb(red, green, blue);
}

